{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Gestion des articles
{% endblock %}

{% block body %}
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Articles</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Table Mysql</li>
			</ol>
			<a href="{{ path('admin_post_add') }}" class="btn btn-primary">Ajouter</a>
			<div class="card-body">
				<table id="datatablesSimple">
					<thead>
						<tr>
							<th>Id</th>
							<th>Categorie</th>
							<th>Titre</th>
							<th>Auteur</th>
							<th>Création</th>
							<th>Actif</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Id</th>
							<th>Categorie</th>
							<th>Titre</th>
							<th>Auteur</th>
							<th>Création</th>
							<th>Actif</th>
							<th>Actions</th>
						</tr>
					</tfoot>
					<tbody>
						{% for post in posts %}
							<tr>
								<td>{{post.id}}</td>
								<td>{{post.category.name}}</td>
								<td>
									<a href="{{ path('post_view', {slug: post.slug}) }}">{{post.title}}</a>
								</td>
								<td>{{post.user.email}}</td>
								<td>{{post.createdAt | date}}</td>
								<!--<td>{{post.active}}</td>-->
								<td>
									<div class="form-check form-switch">
										<input class="form-check-input" type="checkbox" name="active" id="customSwitch{{ post.id }}" data-id="{{ post.id }}" {{ post.active ? 'checked' : null}}>
									</div>
								</td>


								<td>
									<a href="{{ path('admin_post_update', {id: post.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
									<!--<a href="{{ path('admin_post_delete', {id: post.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('click')">Supprimer</a>-->
									<!--<a href="" class="btn btn-warning modal-trigger" data-toggle="modal" data-target="#modalDelete" data-id="{{ post.id }}" data-title="{{ post.title }}">Supprimer</a>-->
									<!--<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
																			Delete
																		</button>-->
									<a href="" class="btn btn-primary modal-trigger" data-bs-toggle="modal" data-bs-target="#modalDelete" data-id="{{ post.id }}" data-title="{{ post.title }}">Supprimer2</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<!-- Modal -->
	<!--<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Supprimer un article</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
					<a href="" class="btn btn-primary">Supprimer</a>
				</div>
			</div>
		</div>
	</div>-->
	<!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer un article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="" class="btn btn-primary">Supprimer</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	<script>
		window.onload = () => { // console.log("coucou")
			let activate = document.querySelectorAll("[type=checkbox]")
			// console.log(activate)
			for (let button of activate) { // console.log(button)
				button.addEventListener("click", function () {
					// console.log("Clic !")
					// alert("Clic !")
					let xmlhttp = new XMLHttpRequest
					xmlhttp.open("get", `/admin/post/activate/${this.dataset.id}`)
					xmlhttp.send()
					// . then (data ==> console(data.data))
				})
			}

			/*let btdeletes = document.querySelectorAll(".modal-trigger")
			for (let btdelete of btdeletes) {
				console.log(btdelete)
				btdelete.addEventListener("click", function () {
					document.querySelector(".modal-footer a").href = `/admin/post/delete/${this.dataset.id}`
					document.querySelector(".modal-body").innerText = `Etes vous sûr de voiloir supprimer : "${this.dataset.title}"`
				})
				console.log(btdelete)
			}*/

			let btdeletes = document.querySelectorAll(".modal-trigger")
            for(let btdelete of btdeletes) {
                btdelete.addEventListener("click", function(){
                    document.querySelector(".modal-footer a").href=`/admin/post/delete/${this.dataset.id}`
                    document.querySelector(".modal-body").innerText = `Etes-vous sûr de vouloir supprimer l'article "${this.dataset.title}"`
                })
            }
		}
	</script>
{% endblock %}
