{% extends 'clean.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block sub %}Bienvenue sur notre Blog !
	<br>Voici la liste des articles les plus récents<br>et sur le coté droit les plus anciens.
{% endblock %}

{% block bg %}
	{{ asset('clean/assets/img/home-bg.jpg') }}
{% endblock %}

{% block body %}
	{# {{ dump(posts) }} #}

	<!-- Main Content-->
		<div class="container px-4 px-lg-5"> <div class="row gx-4 gx-lg-5 justify-content-center">

			<div class="col-md-12 col-lg-9 col-xl-10">
				{% for post in lastposts %}
					<!-- Post preview -->
					<div class="post-preview">
						<a href="{{ path('post_view', {slug: post.slug}) }}">
							<h2 class="post-title">{{ post.title }}</h2>
							<img src="{{ post.image }}" alt="" style="width: 100%">
						</a>
						<p class="post-subtitle">{{ post.content | u.truncate(1500, '...') | raw }}</p>

						<p class="post-meta">Posted by
							<a href="#">{{ post.user.email }}</a>
							on
							{{ post.createdAt | ago }}
							Classé dans
							{{ post.category.name }}
						</p>
					</div>
				{% endfor %}
			</div>

			<!-- sidebar -->
			{{ include("shared/_sidebar.html.twig") }}
		</div>
		<hr>

	</div>


{% endblock %}
